body{
    margin:1%;
    width: 100%;
}

.bloc{
    width: 30%;
    float:left;
    margin:0 1%;
}

h2{color: red;}
h3{color:green}

div{
    width: 30%;
    float: left;
    text-align: center;
}

#texte{text-align: left;}
.vignette{border: 1px solid red}

button{
    background-color: rgba(235, 210, 21, 0.602);
    border: 1px solid black;
    padding: 0.8em;
}